.hawaii-background {
    background-image: url('../assets/Images/hawaii.jpg');
}

.greece-background {
    background-image: url('../assets/Images/greece.jpg');
}

.iceland-background {
    background: url('../assets/Images/iceland.jpg');
}