@import "color";
@import "typography";
@import "assets";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav {
  background-color: $background-color;
  font-family: $verdana;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3.125rem 1.25rem 5.625rem;

  &__link {
    color: $main-color;
    text-decoration: none;
    display: flex;
    padding: 0.625rem auto 0.625rem 3.125rem;
  }

  &__list {
    color: black;
    list-style-type: none;
    display: flex;
    width: 25%;
    justify-content: space-around;

    &__item {
      font-family: $verdana;
      color: inherit;
      &__a {
        color: $black;
      }
    }
    &__item--active {
      border-bottom: 0.1875rem solid $orange;
      color: inherit;
    }
  }
}

.footer {
  background-color: $background-color;
  height: 13.75rem;

  .footer__section {
    display: flex;
    justify-content: space-around;

    .footer__workinghours--container {
      display: flex;
      flex-direction: row;
      .footer__hours--container {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .footer__contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 50px;
    }
    .heading__hours {
      padding-top: 60px;
      font-family: $verdana;
      color: $main-color;
      font-size: 1.625rem;
    }
    .footer__media {
      .social {
        font-family: $verdana;
        color: $main-color;
        font-size: 1.625rem;
        padding-top: 60px;
      }
      .social__container {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: end;
        padding-top: 1.25rem;
      }
    }
  }
}

.heading {
  font-family: $verdana;
  color: $main-color;
  font-size: 1.625rem;
}
.subheading {
  font-family: $verdana;
  color: $orange;
  padding-top: 1.25rem;
  font-weight: $light;
  font-size: 12px;
}
.paragraph {
  font-family: $verdana;
  color: $main-color;
  font-size: 14px;
  font-weight: $light;
  padding-top: 10px;
}

.icon {
  width: 2.1875rem;
}
.icon__facebook {
  height: 40%;
  width: 1.125rem;
}
